.main-nav {
    position: fixed;
    height: 10vh;
    font-size: 2em;
    color: #fff;
    font-family: serif;
    box-shadow: 0 10px 10px rgba(31, 30, 30, 0.7);
    z-index: 100;
}

#menu li a {
    position: relative;
    transition: all ease-in 0.3s;
    margin-right: 7px;
    font-size: 14px;
}

li a:hover {
    text-decoration: none;
    transform: scale(1.1);
}

.active {
    color: #fff;
    transform: scale(1.1);
}

.active::before {
    content: '';
    background-color: #fff;
    height: 20px;
    width: 1px;
    position: absolute;
    display: flex;
    margin-left: -10px;
}

.blog-logo {
    color: #fff;
    font-size: 1em;
    font-family: serif;
}

.socialheader {
    margin-left: 100px;
}

.profile {
    clip-path: circle();
    width: 5%;
    margin-right: 0.1em;
}

hr {
    color: whitesmoke;
    opacity: 0.3;
}

.userProfile {
    margin-left: 1.4em;
    cursor: pointer;
}

.dropdown-menu {
    width: 60%;
    background-color: rgba(31, 30, 30, 0.7);
}

.dropdown-header > h6 {
    font-size: 14px;
    color: whitesmoke;
    font-weight: 700;
}

.dropdown-header > span {
    font-size: 12px;
    color: whitesmoke;
    font-weight: 700;
}

.dropdown-item:hover {
    background-color: rgba(31, 30, 30, 0.7);
    color: whitesmoke;
}

.drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mt-5 {
    align-items: center;
    justify-content: center;
}

/* .mt-5::after{
    display: flex;
    margin-left: 0.75em;
    vertical-align: 0.255em;
    margin-top: 13%;
    content: "";
    color: rgb(104, 104, 245);
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
} */