<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar bg-dark">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" routerLink="/admin-area/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-grid"></i>
            <span class="active">Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link" routerLink="/admin-area/admin/posts" routerLinkActive="active">
            <i class="bi bi-grid"></i>
            <span class="active" >Posts</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link" routerLink="/admin-area/admin/users" routerLinkActive="active">
            <i class="bi bi-grid"></i>
            <span class="active">Users</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link"routerLink="/admin-area/admin/comments" routerLinkActive="active">
            <i class="bi bi-grid"></i>
            <span class="active">Comments</span>
            </a>
        </li><!-- End Dashboard Nav -->

    </ul>

</aside><!-- End Sidebar-->
