<header class="main-header post-head ">
	<img [src]="post?.img" alt="">
		<div class="vertical">
			<div class="main-header-content inner">
				<h1 class="post-title">{{ post?.title }}</h1>
				<div class="entry-title-divider">
					<span></span><span></span><span></span>
				</div>
				<section class="post-meta">
				<time class="post-date" datetime="2015-12-13">{{post?.date}}</time> | <a class="scrolltocomments">Comments</a>
				</section>
			</div>
		</div>
</header>

<app-post-body></app-post-body>
