.table {
    margin-left: 20px;
    font-size: 14px;
}

.header {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-btn {
    margin-right: 10px;
    font-size: 14px;
}

#dropdown {
    margin: 20px 0;
    float: right;
    font-size: 14px;
    padding: 4px;
}

.modal-header h5 {
    font-size: 20px;
}

.modal-header > button > span {
    font-size: 20px;
}

label, input {
    font-size: 14px;
}

.form-control {
    font-size: 14px;
    padding: 20px;
}

.btn {
    font-size: 14px;
}