<header class="main-header " style="background-image: url(assets/img/intro.jpg)">
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="page-title">Blogust Tech Blog</h1>
			<div class="entry-title-divider">
				<span></span><span></span><span></span>
			</div>
			<h2 class="page-description">Tech ideas, Innovations, Learning and News.</h2>
		</div>
	</div>
	<a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
<app-post-list></app-post-list>