.justify-content-center {
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    z-index: 100;
    
}

p {
    font-size: 1.4em;
    color: whitesmoke;
    margin-top: -2em;
    margin-bottom: 2.7em;
}

a {
    font-size: 1.4em;
    color: whitesmoke;
}

body {
    background: url('/assets/img/post3.jpg')no-repeat;
    background-size: cover;
    position: relative;
}

body::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.header {
    position: relative;
    font-size: 2.7em;
    margin-bottom: 1em;
    color: #fff;
    z-index: 100;
}

form {
    position: relative;
    width: 45%;
    z-index: 100;
    
}

form .form-control {
    position: relative;
    padding: 20px;
    border: none;
    background: transparent;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 3em;
    font-size: 1.4em;
    color: whitesmoke;
    z-index: 100;
    outline: none;
}

form .form-control:focus {
    outline: none;
    box-shadow: none;
}

form .form-control::placeholder {
    color: whitesmoke;
}

.btn {
    margin: auto;
    margin-top: -1em;
    padding: 10px;
    font-size: 1.4em;
    background: transparent;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    width: 45%;
    color: whitesmoke;
    z-index: 100;
    transition: 0.4s ease-in all;
}

.btn:hover {
    color: black;
    background-color: whitesmoke;
    border: none;
}


.form-error-border.ng-touched.ng-invalid {
    border-bottom: 2px solid red;
    animation-duration: 2s;
    animation-name: bounce;
}

.form-valid-border.ng-touched.ng-valid {
    border-bottom: 2px bisque green;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);}
}

.form-error {
    padding: 2px;
    color: red;
    font-size: 1.3em;
    font-weight: 700;
    margin-top: -1.4em;
}