<body>   
    <div class="row justify-content-center">
        <h2 class="header">Sign Up</h2>
        <form class="row pb-4">
            <div class="col-md-12 form_flex">
                <div class="form-group ">
                    <input class="form-control" type="text" placeholder="Enter First Name"  formControlName="firstName" minlength="3">
                    <!--><div class="k-form-error" *ngIf="name.invalid && name.touched || name.dirty">
                        <div *ngIf="name.hasError('required')">Name is required</div>
                    </div><-->
                </div>

                <div class="form-group ">
                    <input class="form-control" type="text" placeholder="Enter Last Name"  formControlName="lastName" minlength="3">
                    <!--><div class="k-form-error" *ngIf="name.invalid && name.touched || name.dirty">
                        <div *ngIf="name.hasError('required')">Name is required</div>
                    </div><-->
                </div>

                <div class="form-group field_full">
                    <input class="form-control" type="email" placeholder="Enter Email"  formControlName="email" minlength="3">
                    <!--><div class="k-form-error" *ngIf="name.invalid && name.touched || name.dirty">
                        <div *ngIf="name.hasError('required')">Name is required</div>
                    </div><-->
                </div>

                <div class="form-group field_full">
                    <input class="form-control" type="password" placeholder="Enter Password"  formControlName="password" minlength="3">
                    <!--><div class="k-form-error" *ngIf="name.invalid && name.touched || name.dirty">
                        <div *ngIf="name.hasError('required')">Name is required</div>
                    </div><-->
                </div>

                <div class="form-group field_full">
                    <input class="form-control" type="password" placeholder="confirm Password"  formControlName="password" minlength="3">
                    <!--><div class="k-form-error" *ngIf="name.invalid && name.touched || name.dirty">
                        <div *ngIf="name.hasError('required')">Name is required</div>
                    </div><-->
                </div>

                <div class="col-sm-12 mt-4 d-flex justify-content-end">
                    <button class="app_button btn primary_btn">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>