<div class="container">
    <img src="assets/img/shadow.png" class="wrapshadow">
    <div class="row grid">
        <div class="col-md-4 grid-item">
            <article class="post">
                <a routerLink="./post-details">
                    <img class="main" src="assets/img/gravatar.jpg">
                </a>
                <div class="wrapgriditem">
                    <header class="post-header">
                        <h2 class="post-title"><a >Retro &amp; New</a></h2>
                    </header>
                    <section class="post-excerpt">
                        <p>
                            The house of Dr. Marsh being fully occupied, we made our beds in a shed, a short distance from it. Suspended from one of the poles <a class="read-more" href="/retro-is-the-new-modern/">&raquo;</a>
                        </p>
                    </section>
                    <footer class="post-meta">
                        <img class="author-thumb" src="assets/img/gravatar.jpg" alt="David" nopin="nopin"/>
                        <a href="author.html">David</a>
                        <time class="post-date" datetime="2016-12-18">18 December 2016</time>
                    </footer>
                </div>
            </article>
        </div>
    </div>
</div>
    